.wy-side-nav-search>a img.logo, .wy-side-nav-search .wy-dropdown>a img.logo {
    display: block;
    margin: 0 auto;
    height: auto;
    width: auto;
    border: 3px solid White;
    border-radius: 10px;
    max-width: 100%;
    background: White;
}
